/* p, li, code {
  color: rgba(0, 0, 0, 0.6);
}

 
h1,h2,h3,h4,h5,h6 {
  color: #357eC8;
}

p {
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}


li {
  line-height:2rem;
}


li > code {
  color: #86b8ce;
  font-size: 1rem;
} */

.pre {
  /* padding: 2rem; */
  background-color:#1e1e1e;
}

/* pre > code {
  font-size:1rem;
  color:aliceblue;
  line-height:1.5rem;
} */